* {
  margin: 0;
  font-family: monospace, sans-serif;
}

body {
  background-color: lightcyan;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__header > h1 {
  color: lightgreen;
  font-size: 2rem;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__left {
  flex: 0.9;
}

h4 {
  text-align: center;
}

.app__myName {
  margin-top: 20px;
}